/* Creating the header style */
header {
    background-color: aqua;
}

.content {
    background-color: burlywood;
}

.sidebar {
    background-color: darkcyan;
}

.footer {
    background-color: aqua;
}