/* Creating the header style */
header {
    background-color: aqua;
    color: red;
}

.content {
    background-color: burlywood;
    color: red;
}

.sidebar {
    background-color: darkcyan;
    color: red;
}

.footer {
    background-color: aqua;
    color: red;
}